# Tugas Single Entity

## LATIHAN

Single entity
1. Prepare a list of offices sorted by country, state, city.
2. How many employees are there in the company?
3. What is the total of payments received?
4. List the product lines that contain 'Cars'.
5. Report total payments for October 28, 2004.
6. Report those payments greater than \$100,000.
7. List the products in each product line.
8. How many products in each product line?
9. What is the minimum payment received?
10. List all payments greater than twice the average payment.
11. What is the average percentage markup of the MSRP on buyPrice?
12. How many distinct products does ClassicModels sell?
13. Report the name and city of customers who don't have sales representatives?
14. What are the names of executives with VP or Manager in their title? Use the CONCAT function to combine the employee's first name and last name into a single field for reporting.
15. Which orders have a value greater than $5,000?

In [2]:
import os
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

In [4]:
# 1. Prepare a list of offices sorted by country, state, city
list_offices = run("SELECT * FROM offices ORDER BY country, state, city")
list_offices

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,None,Australia,NSW 2010,APAC
1,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA
2,5,Tokyo,+81 33 224 5000,4-1 Kioicho,None,Chiyoda-Ku,Japan,102-8578,Japan
3,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,None,UK,EC2N 1HN,EMEA
4,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
5,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
6,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA

In [5]:
# 2. How many employees are there in the company?
count_emp = run("SELECT COUNT(employeeNumber) as Total_Employee FROM employees")
count_emp

   Total_Employee
0              23

In [8]:
# 3. What is the total of payments received?
total_pay = run("SELECT SUM(amount) as Total_Payment FROM payments")
total_pay

   Total_Payment
0     8853839.23

In [13]:
# 4. List the product lines that contain 'Cars'.
product_cars = run("SELECT * FROM products WHERE productLine LIKE '%Cars'")
product_cars

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
1,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
2,S10_4962,1962 LanciaA Delta 16V,Classic Cars,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74
3,S12_1099,1968 Ford Mustang,Classic Cars,1:12,Autoart Studio Design,"Hood, doors and trunk all open to reveal highl...",68,95.34,194.57
4,S12_1108,2001 Ferrari Enzo,Classic Cars,1:12,Second Gear Diecast,Turnable front wheels; steering function; deta...,3619,95.59,207.80
5,S12_3148,1969 Corvair Monza,Classic Cars,1:18,Welly Diecast Productions,"1:18 scale die-cast about 10"" long doors open,...",6906,89.14,151.08
6,S12_3380,1968 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,1:12 scale model of a 1968 Dodge Charger. Hood...,9123,75.16,117.44
7,S12_3891,1969 Ford Falcon,Classic Cars,1:12,Second Gear Diecast,Turnable front wheels; steering function; deta...,1049,83.05,173.02
8,S12_3990,1970 Plymouth Hemi Cuda,Classic Cars,1:12,Studio M Art Models,Very detailed 1970 Plymouth Cuda model in 1:12...,5663,31.92,79.80
9,S12_4675,1969 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,Detailed model of the 1969 Dodge Charger. This...,7323,58.73,115.16
10,S18_1129,1993 Mazda RX-7,Classic Cars,1:18,Highway 66 Mini Classics,"This model features, opening hood, opening doo...",3975,83.51,141.54
11,S18_1342,1937 Lincoln Berline,Vintage Cars,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74
12,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,1:18,Studio M Art Models,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91
13,S18_1589,1965 Aston Martin DB5,Classic Cars,1:18,Classic Metal Creations,Die-cast model of the silver 1965 Aston Martin...,9042,65.96,124.44
14,S18_1749,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
15,S18_1889,1948 Porsche 356-A Roadster,Classic Cars,1:18,Gearbox Collectibles,This precision die-cast replica features openi...,8826,53.90,77.00
16,S18_1984,1995 Honda Civic,Classic Cars,1:18,Min Lin Diecast,"This model features, opening hood, opening doo...",9772,93.89,142.25
17,S18_2238,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73
18,S18_2248,1911 Ford Town Car,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54
19,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13
20,S18_2795,1928 Mercedes-Benz SSK,Vintage Cars,1:18,Gearbox Collectibles,This 1:18 replica features grille-mounted chro...,548,72.56,168.75
21,S18_2870,1999 Indy 500 Monte Carlo SS,Classic Cars,1:18,Red Start Diecast,Features include opening and closing doors. Co...,8164,56.76,132.00
22,S18_2949,1913 Ford Model T Speedster,Vintage Cars,1:18,Carousel DieCast Legends,This 250 part reproduction includes moving han...,4189,60.78,101.31
23,S18_2957,1934 Ford V8 Coupe,Vintage Cars,1:18,Min Lin Diecast,"Chrome Trim, Chrome Grille, Opening Hood, Open...",5649,34.35,62.46
24,S18_3136,18th Century Vintage Horse Carriage,Vintage Cars,1:18,Red Start Diecast,Hand crafted diecast-like metal horse carriage...,5992,60.74,104.72
25,S18_3140,1903 Ford Model A,Vintage Cars,1:18,Unimax Art Galleries,"Features opening trunk, working steering system",3913,68.30,136.59
26,S18_3232,1992 Ferrari 360 Spider red,Classic Cars,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34
27,S18_3233,1985 Toyota Supra,Classic Cars,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57
28,S18_3278,1969 Dodge Super Bee,Classic Cars,1:18,Min Lin Diecast,"This replica features opening doors, superb de...",1917,49.05,80.41
29,S18_3320,1917 Maxwell Touring Car,Vintage Cars,1:18,Exoto Designs,"Features Gold Trim, Full Size Spare Tire, Chro...",7913,57.54,99.21
...,...,...,...,...,...,...,...,...,...
32,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Vintage Cars,1:18,Exoto Designs,"Features opening hood, opening doors, opening ...",2378,64.58,105.87
33,S18_4027,1970 Triumph Spitfire,Classic Cars,1:18,Min Lin Diecast,Features include opening and closing doors. Co...,5545,91.92,143.62
34,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03
35,S18_4522,1904 Buick Runabout,Vintage Cars,1:18,Exoto Designs,"Features opening trunk, working steering system",8290,52.66,87.77
36,S18_4668,1939 Cadillac Limousine,Vintage Cars,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31
37,S18_4721,1957 Corvette Convertible,Classic Cars,1:18,Classic Metal Creations,1957 die cast Corvette Convertible in Roman Re...,1249,69.93,148.80
38,S18_4933,1957 Ford Thunderbird,Classic Cars,1:18,Studio M Art Models,"This 1:18 scale precision die-cast replica, wi...",3209,34.21,71.27
39,S24_1046,1970 Chevy Chevelle SS 454,Classic Cars,1:24,Unimax Art Galleries,"This model features rotating wheels, working s...",1005,49.24,73.49
40,S24_1444,1970 Dodge Coronet,Classic Cars,1:24,Highway 66 Mini Classics,"1:24 scale die-cast about 18"" long doors open,...",4074,32.37,57.80
41,S24_1628,1966 Shelby Cobra 427 S/C,Classic Cars,1:24,Carousel DieCast Legends,This diecast model of the 1966 Shelby Cobra 42...,8197,29.18,50.31
42,S24_1937,1939 Chevrolet Deluxe Coupe,Vintage Cars,1:24,Motor City Art Classics,This 1:24 scale die-cast replica of the 1939 C...,7332,22.57,33.19
43,S24_2022,1938 Cadillac V-16 Presidential Limousine,Vintage Cars,1:24,Classic Metal Creations,This 1:24 scale precision die cast replica of ...,2847,20.61,44.80
44,S24_2766,1949 Jaguar XK 120,Classic Cars,1:24,Classic Metal Creations,Precision-engineered from original Jaguar spec...,2350,47.25,90.87
45,S24_2840,1958 Chevy Corvette Limited Edition,Classic Cars,1:24,Carousel DieCast Legends,The operating parts of this 1958 Chevy Corvett...,2542,15.91,35.36
46,S24_2887,1952 Citroen-15CV,Classic Cars,1:24,Exoto Designs,Precision crafted hand-assembled 1:18 scale re...,1452,72.82,117.44
47,S24_2972,1982 Lamborghini Diablo,Classic Cars,1:24,Second Gear Diecast,"This replica features opening doors, superb de...",7723,16.24,37.76
48,S24_3151,1912 Ford Model T Delivery Wagon,Vintage Cars,1:24,Min Lin Diecast,"This model features chrome trim and grille, op...",9173,46.91,88.51
49,S24_3191,1969 Chevrolet Camaro Z28,Classic Cars,1:24,Exoto Designs,1969 Z/28 Chevy Camaro 1:24 scale replica. The...,4695,50.51,85.61
50,S24_3371,1971 Alpine Renault 1600s,Classic Cars,1:24,Welly Diecast Productions,This 1971 Alpine Renault 1600s replica Feature...,7995,38.58,61.23
51,S24_3420,1937 Horch 930V Limousine,Vintage Cars,1:24,Autoart Studio Design,"Features opening hood, opening doors, opening ...",2902,26.30,65.75
52,S24_3432,2002 Chevy Corvette,Classic Cars,1:24,Gearbox Collectibles,The operating parts of this limited edition Di...,9446,62.11,107.08
53,S24_3816,1940 Ford Delivery Sedan,Vintage Cars,1:24,Carousel DieCast Legends,"Chrome Trim, Chrome Grille, Opening Hood, Open...",6621,48.64,83.86
54,S24_3856,1956 Porsche 356A Coupe,Classic Cars,1:18,Classic Metal Creations,Features include: Turnable front wheels; steer...,6600,98.30,140.43
55,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03
56,S24_4048,1992 Porsche Cayenne Turbo Silver,Classic Cars,1:24,Exoto Designs,"This replica features opening doors, superb de...",6582,69.78,118.28
57,S24_4258,1936 Chrysler Airflow,Vintage Cars,1:24,Second Gear Diecast,"Features opening trunk, working steering syst...",4710,57.46,97.39
58,S24_4620,1961 Chevrolet Impala,Classic Cars,1:18,Classic Metal Creations,This 1:18 scale precision die-cast reproductio...,7869,32.33,80.84
59,S32_4289,1928 Ford Phaeton Deluxe,Vintage Cars,1:32,Highway 66 Mini Classics,This model features grille-mounted chrome horn...,136,33.02,68.79
60,S50_1341,1930 Buick Marquette Phaeton,Vintage Cars,1:50,Studio M Art Models,"Features opening trunk, working steering system",7062,27.06,43.64
61,S700_2824,1982 Camaro Z28,Classic Cars,1:18,Carousel DieCast Legends,Features include opening and closing doors. Co...,6934,46.53,101.15

In [19]:
# 5. Report total payments for October 28, 2004.
pay_oct = run("SELECT SUM(amount) as Total_Payment_October FROM payments WHERE paymentDate = '2004-10-28'")
# pay_oct = run("SELECT * FROM payments")
pay_oct

   Total_Payment_October
0               47411.33

In [20]:
# 6. Report those payments greater than $100,000.
gt_100 = run("SELECT * FROM payments WHERE amount > 100000")
gt_100

   customerNumber checkNumber paymentDate     amount
0             124    AE215433  2005-03-05  101244.59
1             124    KI131716  2003-08-15  111654.40
2             141     ID10962  2004-12-31  116208.40
3             141    JE105477  2005-03-18  120166.58
4             148    KM172879  2003-12-26  105743.00

In [26]:
# 7. List the products in each product line.
product_line = run("SELECT * FROM products ORDER BY productLine")
product_line

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
1,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
2,S10_4962,1962 LanciaA Delta 16V,Classic Cars,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74
3,S12_1099,1968 Ford Mustang,Classic Cars,1:12,Autoart Studio Design,"Hood, doors and trunk all open to reveal highl...",68,95.34,194.57
4,S12_1108,2001 Ferrari Enzo,Classic Cars,1:12,Second Gear Diecast,Turnable front wheels; steering function; deta...,3619,95.59,207.80
5,S12_3148,1969 Corvair Monza,Classic Cars,1:18,Welly Diecast Productions,"1:18 scale die-cast about 10"" long doors open,...",6906,89.14,151.08
6,S12_3380,1968 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,1:12 scale model of a 1968 Dodge Charger. Hood...,9123,75.16,117.44
7,S12_3891,1969 Ford Falcon,Classic Cars,1:12,Second Gear Diecast,Turnable front wheels; steering function; deta...,1049,83.05,173.02
8,S12_3990,1970 Plymouth Hemi Cuda,Classic Cars,1:12,Studio M Art Models,Very detailed 1970 Plymouth Cuda model in 1:12...,5663,31.92,79.80
9,S12_4675,1969 Dodge Charger,Classic Cars,1:12,Welly Diecast Productions,Detailed model of the 1969 Dodge Charger. This...,7323,58.73,115.16
10,S18_1129,1993 Mazda RX-7,Classic Cars,1:18,Highway 66 Mini Classics,"This model features, opening hood, opening doo...",3975,83.51,141.54
11,S18_1589,1965 Aston Martin DB5,Classic Cars,1:18,Classic Metal Creations,Die-cast model of the silver 1965 Aston Martin...,9042,65.96,124.44
12,S18_1889,1948 Porsche 356-A Roadster,Classic Cars,1:18,Gearbox Collectibles,This precision die-cast replica features openi...,8826,53.90,77.00
13,S18_1984,1995 Honda Civic,Classic Cars,1:18,Min Lin Diecast,"This model features, opening hood, opening doo...",9772,93.89,142.25
14,S18_2238,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73
15,S18_2870,1999 Indy 500 Monte Carlo SS,Classic Cars,1:18,Red Start Diecast,Features include opening and closing doors. Co...,8164,56.76,132.00
16,S18_3232,1992 Ferrari 360 Spider red,Classic Cars,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34
17,S18_3233,1985 Toyota Supra,Classic Cars,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57
18,S18_3278,1969 Dodge Super Bee,Classic Cars,1:18,Min Lin Diecast,"This replica features opening doors, superb de...",1917,49.05,80.41
19,S18_3482,1976 Ford Gran Torino,Classic Cars,1:18,Gearbox Collectibles,"Highly detailed 1976 Ford Gran Torino ""Starsky...",9127,73.49,146.99
20,S18_3685,1948 Porsche Type 356 Roadster,Classic Cars,1:18,Gearbox Collectibles,This model features working front and rear sus...,8990,62.16,141.28
21,S18_4027,1970 Triumph Spitfire,Classic Cars,1:18,Min Lin Diecast,Features include opening and closing doors. Co...,5545,91.92,143.62
22,S18_4721,1957 Corvette Convertible,Classic Cars,1:18,Classic Metal Creations,1957 die cast Corvette Convertible in Roman Re...,1249,69.93,148.80
23,S18_4933,1957 Ford Thunderbird,Classic Cars,1:18,Studio M Art Models,"This 1:18 scale precision die-cast replica, wi...",3209,34.21,71.27
24,S24_1046,1970 Chevy Chevelle SS 454,Classic Cars,1:24,Unimax Art Galleries,"This model features rotating wheels, working s...",1005,49.24,73.49
25,S24_1444,1970 Dodge Coronet,Classic Cars,1:24,Highway 66 Mini Classics,"1:24 scale die-cast about 18"" long doors open,...",4074,32.37,57.80
26,S24_1628,1966 Shelby Cobra 427 S/C,Classic Cars,1:24,Carousel DieCast Legends,This diecast model of the 1966 Shelby Cobra 42...,8197,29.18,50.31
27,S24_2766,1949 Jaguar XK 120,Classic Cars,1:24,Classic Metal Creations,Precision-engineered from original Jaguar spec...,2350,47.25,90.87
28,S24_2840,1958 Chevy Corvette Limited Edition,Classic Cars,1:24,Carousel DieCast Legends,The operating parts of this 1958 Chevy Corvett...,2542,15.91,35.36
29,S24_2887,1952 Citroen-15CV,Classic Cars,1:24,Exoto Designs,Precision crafted hand-assembled 1:18 scale re...,1452,72.82,117.44
...,...,...,...,...,...,...,...,...,...
80,S18_4600,1940s Ford truck,Trucks and Buses,1:18,Motor City Art Classics,This 1940s Ford Pick-Up truck is re-created in...,3128,84.76,121.08
81,S24_2300,1962 Volkswagen Microbus,Trucks and Buses,1:24,Autoart Studio Design,This 1:18 scale die cast replica of the 1962 M...,2327,61.34,127.79
82,S32_1268,1980’s GM Manhattan Express,Trucks and Buses,1:32,Motor City Art Classics,This 1980’s era new look Manhattan express is ...,5099,53.93,96.31
83,S32_2509,1954 Greyhound Scenicruiser,Trucks and Buses,1:32,Classic Metal Creations,"Model features bi-level seating, 50 windows, s...",2874,25.98,54.11
84,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64
85,S50_1392,Diamond T620 Semi-Skirted Tanker,Trucks and Buses,1:50,Highway 66 Mini Classics,This limited edition model is licensed and per...,1016,68.29,115.75
86,S18_1342,1937 Lincoln Berline,Vintage Cars,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74
87,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,1:18,Studio M Art Models,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91
88,S18_1749,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
89,S18_2248,1911 Ford Town Car,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54
90,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13
91,S18_2795,1928 Mercedes-Benz SSK,Vintage Cars,1:18,Gearbox Collectibles,This 1:18 replica features grille-mounted chro...,548,72.56,168.75
92,S18_2949,1913 Ford Model T Speedster,Vintage Cars,1:18,Carousel DieCast Legends,This 250 part reproduction includes moving han...,4189,60.78,101.31
93,S18_2957,1934 Ford V8 Coupe,Vintage Cars,1:18,Min Lin Diecast,"Chrome Trim, Chrome Grille, Opening Hood, Open...",5649,34.35,62.46
94,S18_3136,18th Century Vintage Horse Carriage,Vintage Cars,1:18,Red Start Diecast,Hand crafted diecast-like metal horse carriage...,5992,60.74,104.72
95,S18_3140,1903 Ford Model A,Vintage Cars,1:18,Unimax Art Galleries,"Features opening trunk, working steering system",3913,68.30,136.59
96,S18_3320,1917 Maxwell Touring Car,Vintage Cars,1:18,Exoto Designs,"Features Gold Trim, Full Size Spare Tire, Chro...",7913,57.54,99.21
97,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Vintage Cars,1:18,Exoto Designs,"Features opening hood, opening doors, opening ...",2378,64.58,105.87
98,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03
99,S18_4522,1904 Buick Runabout,Vintage Cars,1:18,Exoto Designs,"Features opening trunk, working steering system",8290,52.66,87.77
100,S18_4668,1939 Cadillac Limousine,Vintage Cars,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31
101,S24_1937,1939 Chevrolet Deluxe Coupe,Vintage Cars,1:24,Motor City Art Classics,This 1:24 scale die-cast replica of the 1939 C...,7332,22.57,33.19
102,S24_2022,1938 Cadillac V-16 Presidential Limousine,Vintage Cars,1:24,Classic Metal Creations,This 1:24 scale precision die cast replica of ...,2847,20.61,44.80
103,S24_3151,1912 Ford Model T Delivery Wagon,Vintage Cars,1:24,Min Lin Diecast,"This model features chrome trim and grille, op...",9173,46.91,88.51
104,S24_3420,1937 Horch 930V Limousine,Vintage Cars,1:24,Autoart Studio Design,"Features opening hood, opening doors, opening ...",2902,26.30,65.75
105,S24_3816,1940 Ford Delivery Sedan,Vintage Cars,1:24,Carousel DieCast Legends,"Chrome Trim, Chrome Grille, Opening Hood, Open...",6621,48.64,83.86
106,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03
107,S24_4258,1936 Chrysler Airflow,Vintage Cars,1:24,Second Gear Diecast,"Features opening trunk, working steering syst...",4710,57.46,97.39
108,S32_4289,1928 Ford Phaeton Deluxe,Vintage Cars,1:32,Highway 66 Mini Classics,This model features grille-mounted chrome horn...,136,33.02,68.79
109,S50_1341,1930 Buick Marquette Phaeton,Vintage Cars,1:50,Studio M Art Models,"Features opening trunk, working steering system",7062,27.06,43.64

In [28]:
# 8. How many products in each product line?
total_product_perline = run("SELECT productLine, COUNT(productCode) as Total_Product FROM products GROUP BY productLine")
total_product_perline

        productLine  Total_Product
0      Classic Cars             38
1       Motorcycles             13
2            Planes             12
3             Ships              9
4            Trains              3
5  Trucks and Buses             11
6      Vintage Cars             24

In [34]:
# 9. What is the minimum payment received?
min_pay = run("SELECT * FROM payments WHERE amount HAVING MIN(amount)")
min_pay

   customerNumber checkNumber paymentDate   amount
0             103    HQ336336  2004-10-19  6066.78

In [24]:
# 10. List all payments greater than twice the average payment.
gt_twice_avg = run("SELECT * FROM payments WHERE amount > (SELECT AVG(amount)*2 FROM Payments)") 
gt_twice_avg
# run("select * from payments where amount > AVG(amount)*2")

    customerNumber checkNumber paymentDate     amount
0              114    MA765515  2004-12-15   82261.22
1              124    AE215433  2005-03-05  101244.59
2              124    BG255406  2004-08-28   85410.87
3              124     ET64396  2005-04-16   83598.04
4              124    KI131716  2003-08-15  111654.40
5              141     ID10962  2004-12-31  116208.40
6              141    IN446258  2005-03-25   65071.26
7              141    JE105477  2005-03-18  120166.58
8              148    KM172879  2003-12-26  105743.00
9              167    GN228846  2003-12-03   85024.46
10             239    NQ865547  2004-03-15   80375.24
11             321     DJ15149  2003-11-03   85559.12
12             323    AL493079  2005-05-23   75020.13

In [23]:
# 11. What is the average percentage markup of the MSRP on buyPrice?
run("""
SELECT
    (AVG(MSRP - buyPrice)/buyPrice)*100 as Result
FROM
    productS
""")

      Result
0  94.332197

In [26]:
# 12. How many distinct products does ClassicModels sell?
run("""
SELECT
    DISTINCT(productName)
FROM
    products
""")

                                     productName
0          1969 Harley Davidson Ultimate Chopper
1                       1952 Alpine Renault 1300
2                          1996 Moto Guzzi 1100i
3           2003 Harley-Davidson Eagle Drag Bike
4                            1972 Alfa Romeo GTA
5                         1962 LanciaA Delta 16V
6                              1968 Ford Mustang
7                              2001 Ferrari Enzo
8                                 1958 Setra Bus
9                               2002 Suzuki XREO
10                            1969 Corvair Monza
11                            1968 Dodge Charger
12                              1969 Ford Falcon
13                       1970 Plymouth Hemi Cuda
14                             1957 Chevy Pickup
15                            1969 Dodge Charger
16                        1940 Ford Pickup Truck
17                               1993 Mazda RX-7
18                          1937 Lincoln Berline
19      1936 Mercedes-Benz 500K Special Roadster
20                         1965 Aston Martin DB5
21                   1980s Black Hawk Helicopter
22                      1917 Grand Touring Sedan
23                   1948 Porsche 356-A Roadster
24                              1995 Honda Civic
25                1998 Chrysler Plymouth Prowler
26                            1911 Ford Town Car
27                        1964 Mercedes Tour Bus
28                     1932 Model A Ford J-Coupe
29                         1926 Ford Fire Engine
..                                           ...
80             1992 Porsche Cayenne Turbo Silver
81                         1936 Chrysler Airflow
82                       1900s Vintage Tri-Plane
83                         1961 Chevrolet Impala
84                   1980’s GM Manhattan Express
85                              1997 BMW F650 ST
86                             1982 Ducati 996 R
87                   1954 Greyhound Scenicruiser
88        1950's Chicago Surface Lines Streetcar
89   1996 Peterbilt 379 Stake Bed with Outrigger
90                      1928 Ford Phaeton Deluxe
91                     1974 Ducati 350 Mk3 Desmo
92                  1930 Buick Marquette Phaeton
93              Diamond T620 Semi-Skirted Tanker
94                1962 City of Detroit Streetcar
95                            2002 Yamaha YZR M1
96                         The Schooner Bluenose
97                   American Airlines: B767-300
98                                 The Mayflower
99                                    HMS Bounty
100               America West Airlines B757-200
101                    The USS Constitution Ship
102                              1982 Camaro Z28
103                                ATA: B757-300
104                           F/A 18 Hornet 1/72
105                                  The Titanic
106                               The Queen Mary
107                    American Airlines: MD-11S
108                             Boeing X-32A JSF
109                                   Pont Yacht

[110 rows x 1 columns]

In [31]:
# 13. Report the name and city of customers who don't have sales representatives?
run("""
SELECT
    customerName, city, salesRepEmployeeNumber
FROM
    customers
WHERE
    salesRepEmployeeNumber IS NULL
""")

                      customerName              city salesRepEmployeeNumber
0               Havel & Zbyszek Co          Warszawa                   None
1                Porto Imports Co.            Lisboa                   None
2       Asian Shopping Network, Co         Singapore                   None
3                  Natürlich Autos         Cunewalde                   None
4                    ANG Resellers            Madrid                   None
5         Messner Shopping Network         Frankfurt                   None
6                Franken Gifts, Co           München                   None
7                BG&E Collectables          Fribourg                   None
8                 Schuyler Imports         Amsterdam                   None
9                 Der Hund Imports            Berlin                   None
10       Cramer Spezialitäten, Ltd       Brandenburg                   None
11           Asian Treasures, Inc.              Cork                   None
12            SAR Distributors, Co          Hatfield                   None
13                 Kommission Auto           Münster                   None
14          Lisboa Souveniers, Inc            Lisboa                   None
15  Stuttgart Collectable Exchange         Stuttgart                   None
16        Feuer Online Stores, Inc           Leipzig                   None
17                Warburg Exchange            Aachen                   None
18             Anton Designs, Ltd.            Madrid                   None
19             Mit Vergnügen & Co.          Mannheim                   None
20       Kremlin Collectables, Co.  Saint Petersburg                   None
21              Raanan Stores, Inc           Herzlia                   None

In [50]:
# 14. What are the names of executives with VP or Manager in their title? 
# Use the CONCAT function to combine the employee's first name and last name 
# into a single field for reporting.
run("""
SELECT 
    CONCAT(firstName, ' ', lastName) as Full_Name, jobTitle
FROM
    employees
WHERE
    jobTitle like "VP%" or jobTitle like "%Manager%"
""")

           Full_Name              jobTitle
0     Mary Patterson              VP Sales
1      Jeff Firrelli          VP Marketing
2  William Patterson  Sales Manager (APAC)
3      Gerard Bondur   Sale Manager (EMEA)
4        Anthony Bow    Sales Manager (NA)

In [64]:
# 15. Which orders have a value greater than $5,000?
run("""
SELECT
    productName, msrp, priceEach, (msrp-priceEach) as Value
FROM
    orders o 
    INNER JOIN
    orderdetails od USING(orderNumber)
    INNER JOIN
    products p USING(productCode)
GROUP BY productName
    HAVING Value > 5 
""")

                                    productName    msrp  priceEach  Value
0                         1965 Aston Martin DB5  124.44     120.71   3.73
1                  1999 Indy 500 Monte Carlo SS  132.00     114.84  17.16
2                1948 Porsche Type 356 Roadster  141.28     117.26  24.02
3                     1966 Shelby Cobra 427 S/C   50.31      43.27   7.04
4                         1996 Moto Guzzi 1100i  118.94     105.86  13.08
5           1936 Harley Davidson El Knucklehead   60.57      60.57   0.00
6     1938 Cadillac V-16 Presidential Limousine   44.80      38.98   5.82
7                      1917 Grand Touring Sedan  170.00     153.00  17.00
8                            1911 Ford Town Car   60.54      58.12   2.42
9                     1932 Model A Ford J-Coupe  127.13     111.87  15.26
10          1932 Alfa Romeo 8C2300 Spider Sport   92.03      75.46  16.57
11                        1957 Ford Thunderbird   71.27      66.28   4.99
12                   1970 Chevy Chevelle SS 454   73.49      62.47  11.02
13                  1939 Chevrolet Deluxe Coupe   33.19      30.53   2.66
14    1938 Cadillac V-16 Presidential Limousine   44.80      36.29   8.51
15                           1949 Jaguar XK 120   90.87      74.51  16.36
16                            1952 Citroen-15CV  117.44      93.95  23.49
17                    1969 Chevrolet Camaro Z28   85.61      76.19   9.42
18                          2002 Chevy Corvette  107.08     101.73   5.35
19             1936 Mercedes Benz 500k Roadster   41.03      36.11   4.92
20                              1993 Mazda RX-7  141.54     114.65  26.89
21                        1965 Aston Martin DB5  124.44     107.02  17.42
22                  1948 Porsche 356-A Roadster   77.00      73.15   3.85
23                             1995 Honda Civic  142.25     118.07  24.18
24                 1999 Indy 500 Monte Carlo SS  132.00     117.48  14.52
25                  1992 Ferrari 360 Spider red  169.34     167.65   1.69
26               1948 Porsche Type 356 Roadster  141.28     114.44  26.84
27                    1966 Shelby Cobra 427 S/C   50.31      48.80   1.51
28                      1982 Lamborghini Diablo   37.76      37.38   0.38
29                      1956 Porsche 356A Coupe  140.43     136.22   4.21
...                                         ...     ...        ...    ...
2966               1930 Buick Marquette Phaeton   43.64      43.20   0.44
2967                American Airlines: B767-300   91.34      75.81  15.53
2968                              ATA: B757-300  118.65      98.48  20.17
2969                         F/A 18 Hornet 1/72   80.00      80.00   0.00
2970                1980s Black Hawk Helicopter  157.69     126.15  31.54
2971                             P-51-D Mustang   84.48      68.43  16.05
2972                     1999 Yamaha Speed Boat   86.02      71.40  14.62
2973                          1903 Ford Model A  136.59     122.93  13.66
2974                   Collectable Wooden Train  100.84      94.79   6.05
2975    1941 Chevrolet Special Deluxe Cabriolet  105.87     101.64   4.23
2976                        1904 Buick Runabout   87.77      76.36  11.41
2977           1928 British Royal Navy Airplane  109.42     106.14   3.28
2978                      18th century schooner  122.89     100.77  22.12
2979                     1900s Vintage Bi-Plane   68.51      55.49  13.02
2980           1912 Ford Model T Delivery Wagon   88.51      70.81  17.70
2981                   1940 Ford Delivery Sedan   83.86      78.83   5.03
2982                      The Schooner Bluenose   66.67      64.67   2.00
2983                              The Mayflower   86.61      86.61   0.00
2984                  The USS Constitution Ship   72.28      70.11   2.17
2985                                The Titanic  100.17      83.14  17.03
2986                             The Queen Mary   99.31      92.36   6.95
2987                                 Pont Yacht   54.60      54.05   0.55
2988      1969 Harley Davidson Ultimate Chopper   95.70      77.52  18.18
2989                      1996 Moto Guzzi 1100i  118.94      99.91  19.03
2990       2003 Harley-Davidson Eagle Drag Bike  193.66     156.86  36.80
2991                           2002 Suzuki XREO  150.62     123.51  27.11
2992        1936 Harley Davidson El Knucklehead   60.57      51.48   9.09
2993                          1997 BMW R 1100 S  112.70     104.81   7.89
2994                   1960 BSA Gold Star DBD34   76.17      75.41   0.76
2995                           1997 BMW F650 ST   99.89      97.89   2.00

[2996 rows x 4 columns]